# Read dynamic credentials for existing Azure service principal
path "${azure_secrets_engine_path}/creds/${azure_secrets_engine_role}" {
  capabilities = [ "read" ]
}

# Read dynamic credentials for existing HCP Terraform team token
# Read dynamic credentials for GitHub